<a href="https://colab.research.google.com/github/ahcamachod/python-para-datascience-primeros-pasos/blob/main/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print("Hello World!!")

Hello World!!

In [ ]:
print("Mi nombre es Sebastian y tengo 23 años")

Mi nombre es Sebastian y tengo 23 años

In [ ]:
print("Escuela de Datos Alura")

Escuela de Datos Alura

In [ ]:
print("Nombre: Sebastian")
print("Edad: 23")
print("Escuela: Alura")

Nombre: Sebastian
Edad: 23
Escuela: Alura

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [ ]:
5
id(5)

10750984

In [ ]:
edad =  5

print(id(edad))
print(id(5))

10750984
10750984

In [ ]:
numero_cinco = 5

id(numero_cinco)

10750984

In [ ]:
nombre = "Sebastian"
id(nombre)

137124361532336

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
#Entera
edad = 5
type(edad)

int

In [ ]:
#Float
promedio = 9.5
type(promedio)

float

In [ ]:
#Caracteres
nombre = "Sebastian"
type(nombre)

str

In [ ]:
#Bool
v = True
type(v)

bool

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

In [ ]:
nombre_estudiante = 'Penelope Camacho'
edad_estudiante = 11
promedio_estudiante = 9.75
aprobado_estudiante = True

print(nombre_estudiante, edad_estudiante, promedio_estudiante, aprobado_estudiante)

Penelope Camacho 11 9.75 True

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [ ]:
c_vigilante = 5
c_docente = 16
c_coordinador = 2

s_vigilante = 300
s_docente = 500
s_coordinador = 600

In [ ]:
total_empleados = c_vigilante + c_docente + c_coordinador
total_empleados

23

In [ ]:
diferencia_salarios = s_coordinador - s_vigilante
diferencia_salarios

300

In [ ]:
promedio_salarios = (c_vigilante * s_vigilante + c_docente * s_docente +
                     c_coordinador * s_coordinador) / (total_empleados)
promedio_salarios

465.2173913043478

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

In [ ]:
t = 'Alura'
type(t)

str

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '
id(texto)

137124038563184

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [ ]:
texto.upper()

'  MICAELA DE LOS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [ ]:
texto.lower()

'  micaela de los sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [ ]:
texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [ ]:
texto.replace('y', 't')

'  Micaela de los Santos '

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

In [ ]:
nuevo_texto = texto.strip().replace('y', 't').upper()
print(id(texto))
print(id(nuevo_texto))
nuevo_texto

137124038563184
137124039116880

'MICAELA DE LOS SANTOS'

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [ ]:
nombre = input('¿Cuál es tu nombre? ')

¿Cuál es tu nombre? Sebastian

In [ ]:
type(nombre)

str

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
ano_admision = int(input("Digita el año de admision: "))

Digita el año de admision: 2024

In [ ]:
type(ano_admision)

str

In [ ]:
ano_salida = int(input("Digita el año de salida: "))

Digita el año de salida: 2025

In [ ]:
nota_admision = float(input("Digita tu nota de admision: "))

Digita tu nota de admision: 9.75

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [ ]:
print(f'El año de adimision fue {ano_admision} \nLa nota de amision fue: {nota_admision}')

El año de adimision fue 2024
La nota de amision fue: 9.75

# Estructuras condicionales

In [ ]:
# Nota de aprobacion entre 7 y 10
# Nota de reprobacion es menor a 7

"""
Si la nota es mayor igual a 7 entonces el estudiante aprueba
Si no el estudiante reprueba
"""

'\nSi la nota es mayor igual a 7 entonces el estudiante aprueba\nSi no el estudiante reprueba \n'

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [ ]:
if 2 < 7:
  print("La condicion es verdadera")

La condicion es verdadera

In [ ]:
if 2 > 7:
  print("La condicion es verdadera")
print("Fin de la consulta")

Fin de la consulta

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

In [ ]:
if 2 > 7:
  print("La condicion es verdadera")
else:
  print("La condicion es falsa")
print("Fin de la consulta")

La condicion es falsa
Fin de la consulta

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [ ]:
nota = float(input("Digite la nota: "))
if nota >= 7.0:
  print("El estudiante fue aprobado")
else:
  print("El estudiante fue reprobado")

Digite la nota: 6
El estudiante fue reprobado

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

In [ ]:
nota = float(input("Digite la nota: "))
if nota >= 7.0:
  print("El estudiante fue aprobado")
if 7 > nota >= 5:
  print("El estudiante Va a recuperacion")
else:
  print("El estudiante fue reprobado")

Digite la nota: 8
El estudiante fue aprobado

In [ ]:
8

8

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [ ]:
nota = float(input("Digite la nota: "))
if nota >= 7.0:
  print("El estudiante fue aprobado")
elif 7 > nota >= 5:
  print("El estudiante Va a recuperacion")
else:
  print("El estudiante fue reprobado")

Digite la nota: 8
El estudiante fue aprobado

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [ ]:
v = True
f = False

In [ ]:
# And
if v and v:
  print("Todo verdadero")
else:
  print("Hay falso")

Todo verdadero

In [ ]:
if v or v:
  print("verdadero")
else:
  print("falso")

#Not

if not v:
  print("verdadero")
else:
  print("falso")

verdadero
falso

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [ ]:
# prompt: creame una lista bien echa con estos datos

lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez, Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres, David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro, Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina, Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero, Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'

In [ ]:
nombre_1 ='Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [ ]:
if nombre_2 in lista:
  print(f'{nombre_1} aprobo')
else:
  print(f'{nombre_1} reprobo')

Miguel Castro reprobo

##Ejercicios##

1 - Escribe un programa que pida a la persona usuaria que proporcione dos números y muestre el número más grande.

2 - Escribe un programa que solicite el porcentaje de crecimiento de producción de una empresa e informe si hubo un crecimiento (porcentaje positivo) o una disminución (porcentaje negativo).

3 - Escribe un programa que determine si una letra proporcionada por la persona usuaria es una vocal o una consonante.

4 - Escribe un programa que lea valores promedio de precios de un modelo de automóvil durante 3 años consecutivos y muestre el valor más alto y más bajo entre esos tres años.

5 - Escribe un programa que pregunte sobre el precio de tres productos e indique cuál es el producto más barato para comprar.

6 - Escribe un programa que lea tres números y los muestre en orden descendente.

7 -Escribe un programa que pregunte en qué turno estudia la persona usuaria ("mañana", "tarde" o "noche") y muestre el mensaje "¡Buenos Días!", "¡Buenas Tardes!", "¡Buenas Noches!" o "Valor Inválido!", según el caso.

8 - Escribe un programa que solicite un número entero a la persona usuaria y determine si es par o impar. Pista: Puedes usar el operador módulo (%).

9 - Escribe un programa que pida un número a la persona usuaria y le informe si es entero o decimal.

Momento de los proyectos

10 - Un programa debe ser escrito para leer dos números y luego preguntar a la persona usuaria qué operación desea realizar. El resultado de la operación debe incluir información sobre el número, si es par o impar, positivo o negativo, e entero o decimal.

11 - Escribe un programa que pida a la persona usuaria tres números que representan los lados de un triángulo. El programa debe informar si los valores pueden utilizarse para formar un triángulo y, en caso afirmativo, si es equilátero, isósceles o escaleno. Ten en cuenta algunas sugerencias:

Tres lados forman un triángulo cuando la suma de cualesquiera dos lados es mayor que el tercero;
Triángulo Equilátero: tres lados iguales;
Triángulo Isósceles: dos lados iguales;
Triángulo Escaleno: tres lados diferentes.

12 - Un establecimiento está vendiendo combustibles con descuentos variables. Para el etanol, si la cantidad comprada es de hasta 15 litros, el descuento será del 2% por litro. En caso contrario, será del 4% por litro. Para el diésel, si la cantidad comprada es de hasta 15 litros, el descuento será del 3% por litro. En caso contrario, será del 5% por litro. El precio por litro de diésel es de R$ 2,00 y el precio por litro de etanol es de R$ 1,70. Escribe un programa que lea la cantidad de litros vendidos y el tipo de combustible (E para etanol y D para diésel) y calcule el valor a pagar por el cliente. Ten en cuenta algunas sugerencias:

El valor del descuento será el producto del precio por litro, la cantidad de litros y el valor del descuento.
El valor a pagar por un cliente será el resultado de la multiplicación del precio por litro por la cantidad de litros menos el valor del descuento resultante del cálculo.

13 - En una empresa de venta de bienes raíces, debes crear un código que analice los datos de ventas anuales para ayudar a la dirección en la toma de decisiones. El código debe recopilar los datos de cantidad de ventas durante los años 2022 y 2023 y calcular la variación porcentual. A partir del valor de la variación, se deben proporcionar las siguientes sugerencias:

Para una variación superior al 20%: bonificación para el equipo de ventas.
Para una variación entre el 2% y el 20%: pequeña bonificación para el equipo de ventas.
Para una variación entre el 2% y el -10%: planificación de políticas de incentivo a las ventas.
Para bonificaciones inferiores al -10%: recorte de gastos.

In [ ]:
#Ejercicio1
numero_1 = float(input("Digite el primer numero: "))
numero_2 = float(input("Digite el segundo numero: "))

if numero_1 > numero_2:
  print(f'El numero mayor es: {numero_1}')
else:
  print(f'El numero mayor es: {numero_2}')

Digite el primer numero: 5
Digite el segundo numero: 6
El numero mayor es: 6.0

In [ ]:
#Ejercicio2
porcentaje = float(input("Digite el porcentaje de crecimiento: "))

if porcentaje > 0:
  print("Hubo un crecimiento")
elif porcentaje == 0:
  print("No hubo crecimiento")
else:
  print("Hubo un decrecimiento")

Digite el porcentaje de crecimiento: -10
Hubo un decrecimiento

In [ ]:
#Ejercicio3

letra = input("Digite una letra: ")

if letra in 'aeiouAEIOU':
  print("Es una vocal")
else:
  print("Es una consonante")

Digite una letra: A
Es una vocal

In [ ]:
#Ejercicior4

precio_1 = float(input("Digite el primer precio: "))
precio_2 = float(input("Digite el segundo precio: "))
precio_3 = float(input("Digite el tercer precio: "))

lista_precios = [precio_1, precio_2, precio_3]
lista_precios.sort()

promedio = (precio_1 + precio_2 + precio_3) / 3

print(f"El promedio de precios es: {promedio}")
print(f"El precio mas bajo es: {lista_precios[0]}")
print(f"El precio mas alto es: {lista_precios[2]}")

Digite el primer precio: 2000
Digite el segundo precio: 3000
Digite el tercer precio: 4000
El promedio de precios es: 3000.0
El precio mas bajo es: 2000.0
El precio mas alto es: 4000.0

In [ ]:
#Ejercicio 5

precio_1 = float(input("Digite el primer precio: "))
precio_2 = float(input("Digite el segundo precio: "))
precio_3 = float(input("Digite el tercer precio: "))

lista_precios = [precio_1, precio_2, precio_3]
lista_precios.sort()

print(f"El producto mas barato es: {lista_precios[0]}")

Digite el primer precio: 80
Digite el segundo precio: 5
Digite el tercer precio: 30
El producto mas barato es: 5.0

In [ ]:
#Ejercicio6

numero_1 = float(input("Digite el primer numero: "))
numero_2 = float(input("Digite el segundo numero: "))
numero_3 = float(input("Digite el tercer numero: "))

if numero_1 > numero_2 and numero_1 > numero_3:
  print(f'El numero mayor es: {numero_1}')
elif numero_2 > numero_1 and numero_2 > numero_3:
  print(f'El numero mayor es: {numero_2}')
else:
  print(f'El numero mayor es: {numero_3}')

Digite el primer numero: 100
Digite el segundo numero: 50
Digite el tercer numero: 5
El numero mayor es: 100.0

In [ ]:
#Ejercicio7

turno = input("Digite tu turno: ").lower()

if turno == 'mañana':
  print("Buenos dias")
elif turno == 'tarde':
  print("Buenas tardes")
elif turno == 'noche':
  print("Buenas noches")

Digite tu turno: nochE
Buenas noches

In [ ]:
#Ejercicio8

numero = input("Digite un numero: ")

if numero.isnumeric():
  numero = int(numero)
  if numero % 2 == 0:
    print("El numero es par")
  else:
    print("El numero es impar")
else:
  print("El numero no es entero")

Digite un numero: 1
El numero es impar

In [ ]:
#Ejercicio9
numero = input("Digite un numero: ")

def negativos():
  if numero.startswith("-") and numero[1:].isnumeric():
    return True

if numero.isnumeric() or negativos():
  print("El numero es enetero")
else:
  print("El numero es decimal")

Digite un numero: -8.5
El numero es decimal

In [ ]:
#Ejercico 10

numero_1 = float(input("Digite el primer numero: "))
numero_2 = float(input("Digite el segundo numero: "))


def caracteristicas(numero):
  if numero % 2 == 0:
     print("El numero es par")
  else:
     print("El numero es impar")

  if numero > 0:
    print("\nEl numero es positivo")
  elif numero < 0:
     print("\nEl numero es negativo")
  else:
     ("\nEl numero es cero")

  numero = int(numero)
  if numero.isnumeric() or negativos():
    return print("\nEl numero es entero")
  else:
    return print("\nEl numero es decimal")

operacion = input("¿que operacion desea realizar? ")

if operacion == 'suma':
  resultado = numero_1 + numero_2
  print(f'El resultado de la suma es: {resultado}')
elif operacion == 'resta':
  resultado = numero_1 - numero_2
  print(f'El resultado de la resta es: {resultado}. y cuenta con las siguientes caracteristicas:{caracteristicas(resultado)}')
elif operacion == 'multiplicacion':
  resultado = numero_1 * numero_2
  print(f'El resultado de la multiplicacion es: {resultado} y cuenta con las siguientes caracteristicas')
  caracteristicas(resultado)
elif operacion == 'multiplicacion':
  resultado = numero_1 * numero_2
  print(f'El resultado de la multiplicacion es: {resultado} y cuenta con las siguientes caracteristicas')
  caracteristicas(resultado)
elif operacion == 'division':
  resultado = numero_1 / numero_2
  print(f'El resultado de la division es: {resultado} y cuenta con las siguientes caracteristicas')
  caracteristicas(resultado)

else:
  print("Operacion no valida")

print(f'El resultado tiene las lacaracteristicas {caracteristicas(resultado)}')

Digite el primer numero: 8
Digite el segundo numero: 8
¿que operacion desea realizar? suma
El resultado de la suma es: 16.0
El numero es par

El numero es positivo

AttributeError: 'int' object has no attribute 'isnumeric'

11 - Escribe un programa que pida a la persona usuaria tres números que representan los lados de un triángulo. El programa debe informar si los valores pueden utilizarse para formar un triángulo y, en caso afirmativo, si es equilátero, isósceles o escaleno. Ten en cuenta algunas sugerencias:

Tres lados forman un triángulo cuando la suma de cualesquiera dos lados es mayor que el tercero; Triángulo Equilátero: tres lados iguales; Triángulo Isósceles: dos lados iguales; Triángulo Escaleno: tres lados diferentes.

In [ ]:
#Ejercicio 11

lado_1 = float(input('Digite el primer lado: '))
lado_2 = float(input('Digite el segundo lado: '))
lado_3 = float(input('Digite el tercer número: '))

if lado_1 + lado_2 > lado_3 and lado_1 + lado_3 > lado_2 and lado_2 + lado_3 > lado_1:
  print('Los lados forman un triangulo')

  if lado_1 == lado_2 == lado_3:
    print('Es un Equilátero')
  elif lado_1 == lado_2 or lado_1 == lado_3 or lado_2 == lado_3:
    print('Es un Isóceles')
  else:
    print('Es un Escaleno')
else:
  print('Los lados no forman un triangulo')

Digite el primer lado: 9
Digite el segundo lado: 6
Digite el tercer número: 6
Los lados forman un triangulo
Es un Isóceles

12 - Un establecimiento está vendiendo combustibles con descuentos variables. Para el etanol, si la cantidad comprada es de hasta 15 litros, el descuento será del 2% por litro. En caso contrario, será del 4% por litro. Para el diésel, si la cantidad comprada es de hasta 15 litros, el descuento será del 3% por litro. En caso contrario, será del 5% por litro. El precio por litro de diésel es de R 2,00yelprecioporlitrodeetanolesdeR  1,70. Escribe un programa que lea la cantidad de litros vendidos y el tipo de combustible (E para etanol y D para diésel) y calcule el valor a pagar por el cliente. Ten en cuenta algunas sugerencias:

El valor del descuento será el producto del precio por litro, la cantidad de litros y el valor del descuento. El valor a pagar por un cliente será el resultado de la multiplicación del precio por litro por la cantidad de litros menos el valor del descuento resultante del cálculo.

In [ ]:
precio_D = 2
precio_E = 1.70

tipo_combustible = input('Digite el tipo de combustible D para diesel y E para etanol: ')
cantidad_litros = float(input('Digite la cantidad de litros: '))

match tipo_combustible:

  case 'D':
    if cantidad_litros <= 15:
      descuento = 0.03
    else:
      descuento = 0.05

    pagar = precio_D * cantidad_litros * (1 - descuento)
    print(f'El valor a pagar es: {pagar}, por la cantidad de {cantidad_litros}L de Diesel')
  case 'E':
    if cantidad_litros <= 15:
      descuento = 0.02
    else:
      descuento = 0.04
    pagar = precio_E * cantidad_litros * (1 - descuento)
    print(f'El valor a pagar es: {pagar}, por la cantidad de {cantidad_litros}L de Etanol ')
  case _:
    print('Tipo de combustible no valido')

Digite el tipo de combustible D para diesel y E para etanol: E
Digite la cantidad de litros: 14
El valor a pagar es: 23.324, por la cantidad de 14.0L de Etanol

13 - En una empresa de venta de bienes raíces, debes crear un código que analice los datos de ventas anuales para ayudar a la dirección en la toma de decisiones. El código debe recopilar los datos de cantidad de ventas durante los años 2022 y 2023 y calcular la variación porcentual. A partir del valor de la variación, se deben proporcionar las siguientes sugerencias:

Para una variación superior al 20%: bonificación para el equipo de ventas. Para una variación entre el 2% y el 20%: pequeña bonificación para el equipo de ventas. Para una variación entre el 2% y el -10%: planificación de políticas de incentivo a las ventas. Para bonificaciones inferiores al -10%: recorte de gastos.

In [ ]:
variacion = int(input('Digite la variacion porcentual: '))

if variacion > 20:
  print('Bonificacion para el equipo de ventas')
elif 2 <= variacion <= 20:
  print('Pequeña bonificacion para el equipo de ventas')
elif -10 <= variacion <= 2:
  print('Planificacion de políticas de incentivo a las ventas')
else:
  print('Recorte de gastos')

Digite la variacion porcentual: -89
Recorte de gastos

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [ ]:
for i in range(3):
  nota_1 = float(input("Digite la nota 1: "))
  nota_2 = float(input("Digite la nota 2: "))
  print(f"El promedio del estudiante {i+1} es: {(nota_1 + nota_2) / 2}")

Digite la nota 1: 7
Digite la nota 2: 8
El promedio del estudiante 1 es: 7.5
Digite la nota 1: 9
Digite la nota 2: 10
El promedio del estudiante 2 es: 9.5
Digite la nota 1: 4
Digite la nota 2: 8
El promedio del estudiante 3 es: 6.0

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

In [ ]:
contador = 1
while contador <= 10:
  print(contador)
  contador += 1

1
2
3
4
5
6
7
8
9
10

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

In [ ]:
contador = 1
while contador <= 3:
  nota_1 = float(input("Digite la nota 1: "))
  nota_2 = float(input("Digite la nota 2: "))
  print(f"El promedio del estudiante {contador} es: {(nota_1 + nota_2) / 2}")
  contador += 1

Digite la nota 1: 10
Digite la nota 2: 9
El promedio del estudiante 1 es: 9.5
Digite la nota 1: 5
Digite la nota 2: 9
El promedio del estudiante 2 es: 7.0
Digite la nota 1: 9
Digite la nota 2: 6
El promedio del estudiante 3 es: 7.5

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [ ]:
for n in range(1 ,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for e in range(1,4):
  nota_1 = float(input("Digite la nota 1: "))
  nota_2 = float(input("Digite la nota 2: "))
  print(f"El promedio del estudiante {contador} es: {(nota_1 + nota_2) / 2}")

Digite la nota 1: 4
Digite la nota 2: 5
El promedio del estudiante 4 es: 4.5
Digite la nota 1: 8
Digite la nota 2: 9.6
El promedio del estudiante 4 es: 8.8
Digite la nota 1: 1
Digite la nota 2: 10
El promedio del estudiante 4 es: 5.5

##Ejercicios While y For##

Entrenando la programación

1 - Escribe un programa que solicite dos números enteros e imprima todos los números enteros entre ellos.

In [ ]:
# Ejercicio 1

numero_1 = int(input("Digite el primer numero: "))
numero_2 = int(input("Digite el segundo numero: "))

if numero_1 < numero_2:
  for n in range(numero_1 + 1, numero_2 ):
    print(n)
else:
  for n in range( numero_2 + 1, numero_1):
    print(n)

Digite el primer numero: 2
Digite el segundo numero: 9
3
4
5
6
7
8

2 - Escribe un programa para calcular cuántos días tomará que la colonia de una bacteria A supere o iguale a la colonia de una bacteria B, basado en tasas de crecimiento del 3% y 1.5%, respectivamente. Supón que la colonia A comienza con 4 elementos y B con 10.

In [ ]:
A = 4
B = 10
dias = 0
while A < B:
  A = A + (A * 0.03)
  B = B + (B * 0.015)
  dias += 1
print(f'La colonia A supero a la colonia B en {dias} días con una comparacion de { A, B}')

La colonia A supero a la colonia B en 63 días con una comparacion de (25.75165514029833, 25.54822084811115)


3 - Para procesar una cantidad de 15 datos de evaluaciones de usuarios de un servicio de la empresa, necesitamos verificar si las calificaciones son válidas. Por lo tanto, escribe un programa que recibirá calificaciones del 0 al 5 y verificará si son valores válidos. Si se ingresa una calificación superior a 5 o inferior a 0, se repetirá hasta que el usuario ingrese un valor válido.

In [ ]:
for dato in range(15):
  calificacion = float(input('Digite una calificacion del 0 al 5: '))
  while calificacion < 0 or calificacion > 5:
    print('Porfavor digite una calificacion valida')
    calificacion = float(input('Digite una calificacion del 0 al 5: '))

  print(f'La calificacion {calificacion} es valida')

Digite una calificacion del 0 al 58
Porfavor digite una calificacion valida
Digite una calificacion del 0 al 58
Porfavor digite una calificacion valida
Digite una calificacion del 0 al 58
Porfavor digite una calificacion valida
Digite una calificacion del 0 al 58
Porfavor digite una calificacion valida
Digite una calificacion del 0 al 58
Porfavor digite una calificacion valida
Digite una calificacion del 0 al 58
Porfavor digite una calificacion valida
Digite una calificacion del 0 al 58
Porfavor digite una calificacion valida
Digite una calificacion del 0 al 58
Porfavor digite una calificacion valida
Digite una calificacion del 0 al 58
Porfavor digite una calificacion valida
Digite una calificacion del 0 al 58
Porfavor digite una calificacion valida
Digite una calificacion del 0 al 58
Porfavor digite una calificacion valida
Digite una calificacion del 0 al 58
Porfavor digite una calificacion valida
Digite una calificacion del 0 al 58
Porfavor digite una calificacion valida
Digite una calificacion del 0 al 58
Porfavor digite una calificacion valida
Digite una calificacion del 0 al 58
Porfavor digite una calificacion valida
Digite una calificacion del 0 al 58
Porfavor digite una calificacion valida
Digite una calificacion del 0 al 58
Porfavor digite una calificacion valida
Digite una calificacion del 0 al 51
La calificacion 1.0 es valida
Digite una calificacion del 0 al 55
La calificacion 5.0 es valida
Digite una calificacion del 0 al 51
La calificacion 1.0 es valida
Digite una calificacion del 0 al 51
La calificacion 1.0 es valida
Digite una calificacion del 0 al 51
La calificacion 1.0 es valida
Digite una calificacion del 0 al 51
La calificacion 1.0 es valida
Digite una calificacion del 0 al 51
La calificacion 1.0 es valida
Digite una calificacion del 0 al 51
La calificacion 1.0 es valida
Digite una calificacion del 0 al 51
La calificacion 1.0 es valida
Digite una calificacion del 0 al 51
La calificacion 1.0 es valida
Digite una calificacion del 0 al 51
La calificacion 1.0 es valida
Digite una calificacion del 0 al 51
La calificacion 1.0 es valida
Digite una calificacion del 0 al 51
La calificacion 1.0 es valida
Digite una calificacion del 0 al 51
La calificacion 1.0 es valida
Digite una calificacion del 0 al 51
La calificacion 1.0 es valida

4 - Desarrolla un programa que lea un conjunto indefinido de temperaturas en grados Celsius y calcule su promedio. La lectura debe detenerse al ingresar el valor -273°C.

In [ ]:
temperatura = float(input('Digite una temperatura en grados Celsius: '))
suma = 0
contador = 0
while temperatura != -273:
  suma += temperatura
  temperatura = float(input('Digite una temperatura en grados Celsius: '))
  contador += 1

promedio = suma / contador

print(f'El promedio de las temperaturas es: {promedio}')

Digite una temperatura en grados Celsius: 8
Digite una temperatura en grados Celsius: 3
Digite una temperatura en grados Celsius: 5
Digite una temperatura en grados Celsius: 40
Digite una temperatura en grados Celsius: 30
Digite una temperatura en grados Celsius: 22
Digite una temperatura en grados Celsius: 24
Digite una temperatura en grados Celsius: 31
Digite una temperatura en grados Celsius: 33
Digite una temperatura en grados Celsius: 12
Digite una temperatura en grados Celsius: -273
El promedio de las temperaturas es: 20.8

5 - Escribe un programa que calcule el factorial de un número entero proporcionado por el usuario. Recuerda que el factorial de un número entero es el producto de ese número por todos sus antecesores hasta llegar al número 1. Por ejemplo, el factorial de 5 es 5 x 4 x 3 x 2 x 1 = 120.

In [ ]:
numero = int(input('Ingrese facotorial a cacular: '))

for i in range(1, numero):
  numero *= i

print(f'El factorial de {numero} es: {numero}')

Ingrese facotorial a cacular: 5
El factorial de 120 es: 120

Momento de los proyectos

6 - Escribe un programa que genere la tabla de multiplicar de un número entero del 1 al 10, según la elección del usuario. Como ejemplo, para el número 2, la tabla de multiplicar debe mostrarse en el siguiente formato:

Tabla de multiplicar del 2:
2 x 1 = 2
2 x 2 = 4
[...]
2 x 10 = 20

In [ ]:
tabla = int(input('Digite la tabla que desea ver: '))
print(f'La tabla del {tabla} es :')
for i in range(1, 11):
  print(f'{tabla} x {i} = {tabla * i}')

Digite la tabla que desea ver: 9
La tabla del 9 es :
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

7 - Los números primos tienen diversas aplicaciones en Ciencia de Datos, como en criptografía y seguridad. Un número primo es aquel que es divisible solo por sí mismo y por 1. Por lo tanto, crea un programa que solicite un número entero y determine si es un número primo o no.

In [ ]:
numero = int(input('Digite un numero: '))
contador = 0
for i in range(2, numero):
  if numero %  i == 0:
    contador += 1
    break

if contador == 0:
  print(f'{numero} es un numero primo')
else:
  print(f'{numero} no es un numero primo')

Digite un numero: 2
2 es un numero primo

8 - Vamos a comprender la distribución de edades de los pensionistas de una empresa de seguros. Escribe un programa que lea las edades de una cantidad no informada de clientes y muestre la distribución en los intervalos [0-25], [26-50], [51-75] y [76-100]. La entrada de datos se detendrá al ingresar un número negativo.

In [ ]:
edad = int(input('Ingrese su edad: '))
grupo1 = 0
grupo2 = 0
grupo3 = 0
grupo4 = 0


while edad >= 0:
  if 0 <= edad <= 25:
    grupo1 += 1
  elif 26 <= edad <= 50:
    grupo2 += 1
  elif 51 <= edad <= 75:
    grupo3 += 1
  elif 76 <= edad <= 100:
    grupo4 += 1
  edad = int(input('Ingrese su edad: '))

print(f'La distribucion de los grupos es la siguiente: ')
print(f'Grupo 1: {grupo1}')
print(f'Grupo 2: {grupo2}')
print(f'Grupo 3: {grupo3}')
print(f'Grupo 4: {grupo4}')

Ingrese su edad: 8
Ingrese su edad: 5
Ingrese su edad: 9
Ingrese su edad: 25
Ingrese su edad: 26
Ingrese su edad: 65
Ingrese su edad: 78
Ingrese su edad: 100
Ingrese su edad: 56
Ingrese su edad: 98
Ingrese su edad: 45
Ingrese su edad: 35
Ingrese su edad: 21
Ingrese su edad: 45
Ingrese su edad: 78
Ingrese su edad: 96
Ingrese su edad: -5
La distribucion de los grupos es la siguiente:
Grupo 1: 5
Grupo 2: 4
Grupo 3: 2
Grupo 4: 5

9 - En una elección para la gerencia de una empresa con 20 empleados, hay cuatro candidatos. Escribe un programa que calcule al ganador de la elección. La votación se realizó de la siguiente manera:

Cada empleado votó por uno de los cuatro candidatos (representados por los números 1, 2, 3 y 4).

También se contaron los votos nulos (representados por el número 5) y los votos en blanco (representados por el número 6).

Al final de la votación, el programa debe mostrar el número total de votos para cada candidato, los votos nulos y los votos en blanco. Además, debe calcular y mostrar el porcentaje de votos nulos con respecto al total de votos y el porcentaje de votos en blanco con respecto al total de votos.

In [ ]:
candidato_1 = 0
candidato_2 = 0
candidato_3 = 0
candidato_4 = 0
voto_nulo = 0
voto_blanco = 0

for i in range(20):
  voto = int(input('Digite su voto: '))
  if voto == 1:
    candidato_1 += 1
  elif voto == 2:
    candidato_2 += 1
  elif voto == 3:
    candidato_3 += 1
  elif voto == 4:
    candidato_4 += 1
  elif voto == 5:
    voto_nulo += 1
  elif voto == 6:
    voto_blanco += 1
  else:
    print('Voto no valido')

porcentaje_nulos = (voto_nulo / 20) * 100
porcentaje_blanco = (voto_blanco / 20) * 100

print(f'El candidato 1 obtuvo {candidato_1} votos')
print(f'El candidato 2 obtuvo {candidato_2} votos')
print(f'El candidato 3 obtuvo {candidato_3} votos')
print(f'El candidato 4 obtuvo {candidato_4} votos')
print(f'Los votos nulos fueron {voto_nulo} votos')
print(f'Los votos en blanco fueron {voto_blanco} votos')
print(f'El porcentaje de votos nulos es {porcentaje_nulos}%')
print(f'El porcentaje de votos en blanco es {porcentaje_blanco}%')

Digite su voto: 5
Digite su voto: 5
Digite su voto: 5
Digite su voto: 6
Digite su voto: 6
Digite su voto: 3
Digite su voto: 1
Digite su voto: 5
Digite su voto: 1
Digite su voto: 2
Digite su voto: 2
Digite su voto: 4
Digite su voto: 4
Digite su voto: 3
Digite su voto: 3
Digite su voto: 1
Digite su voto: 4
Digite su voto: 2
Digite su voto: 3
Digite su voto: 5
El candidato 1 obtuvo 3 votos
El candidato 2 obtuvo 3 votos
El candidato 3 obtuvo 4 votos
El candidato 4 obtuvo 3 votos
Los votos nulos fueron 5 votos
Los votos en blanco fueron 2 votos
El porcentaje de votos nulos es 25.0%
El porcentaje de votos en blanco es 10.0%

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [ ]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [ ]:
type(lista[0])
lista[o]

str

Penélope Camacho
9.5
9.0
9.7
True

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

In [ ]:
for elemento in lista:
  print(elemento)

Penélope Camacho
9.5
9.0
9.7
True

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [ ]:
lista[2] = 10.0

9.733333333333333

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [ ]:
lista
promedio = (lista[1] + lista[2] + lista[3])/3
promedio

9.733333333333333

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [ ]:
len(lista)

5

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [ ]:
lista[0:2]

['Penélope Camacho', 9.5]

In [ ]:
lista[:3]

['Penélope Camacho', 9.5, 10.0]

In [ ]:
lista[3:]

[9.7, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [ ]:
lista.append(promedio)
lista

['Penélope Camacho',
 9.5,
 10.0,
 9.7,
 True,
 9.733333333333333,
 9.733333333333333]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [ ]:
lista.extend([10.0,8.0,9.0])
lista

['Penélope Camacho',
 9.5,
 10.0,
 9.7,
 True,
 9.733333333333333,
 9.733333333333333,
 10.0,
 8.0,
 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [ ]:
lista.append([10.0,8.0,9.0])
lista

['Penélope Camacho',
 9.5,
 10.0,
 9.7,
 True,
 9.733333333333333,
 9.733333333333333,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [ ]:
lista.remove([10.0, 8.0, 9.0])
lista

['Penélope Camacho',
 9.5,
 10.0,
 9.7,
 True,
 9.733333333333333,
 9.733333333333333,
 10.0,
 8.0,
 9.0]

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [ ]:
diccionario = { 'llave_1': 1,
               'llave_2': 2}
diccionario

{'llave_1': 1, 'llave_2': 2}

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [ ]:
estudiante = {
    'matricula': 2000168933,
    'dia_registro': 25,
    'mes_registro': 10,
    'grupo': '2E'
}
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2E'}

In [ ]:
estudiante['matricula']

2000168933

In [ ]:
estudiante['grupo']

'2E'

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2G'}

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [ ]:
estudiante['grupo'] = '2G'
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [ ]:
estudiante["modalidad"] = "EAD"
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'grupo': '2G',
 'modalidad': 'EAD'}

In [ ]:
len(estudiante)

5

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [ ]:
estudiante.pop('grupo')

'2G'

In [ ]:
estudiante

{'matricula': 2000168933,
 'dia_registro': 25,
 'mes_registro': 10,
 'modalidad': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [ ]:
estudiante.items()

dict_items([('matricula', 2000168933), ('dia_registro', 25), ('mes_registro', 10), ('modalidad', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [ ]:
estudiante.keys()

dict_keys(['matricula', 'dia_registro', 'mes_registro', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [ ]:
estudiante.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Lectura de valores con el lazo `for`

In [ ]:
for llave, valor in estudiante.items():
  print(llave,'-->', valor)

matricula --> 2000168933
dia_registro --> 25
mes_registro --> 10
modalidad --> EAD

##Ejercicios estructuras##

1 - Crea un programa que tenga la siguiente lista con los gastos de una empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]. Con estos valores, crea un programa que calcule el promedio de gastos. Sugerencia: usa las funciones integradas sum() y len().

In [ ]:
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

promedio = sum(gastos) / len(gastos)
print(f'El promedio de gastos es: {promedio}')

El promedio de gastos es: 3144.222

2 - Con los mismos datos de la pregunta anterior, determina cuántas compras se realizaron por encima de 3000 reales y calcula el porcentaje con respecto al total de compras.

In [ ]:
total = 0
for costo in gastos:
  if costo > 3000:
    total +=1

porcentaje = total * 100 / len(gastos)
print(f'El porcentaje de compras por encima de 3000 reales es: {porcentaje}%')

El porcentaje de compras por encima de 3000 reales es: 70.0%

3 - Crea un código que recoja en una lista 5 números enteros aleatorios e imprima la lista. Ejemplo: [1, 4, 7, 2, 4].

In [ ]:
import random
lista = []

for i in range(5):
  numero = random.randint(1, 10)
  lista.append(numero)

print(lista)

[7, 1, 10, 9, 9]

4 - Recoge nuevamente 5 números enteros e imprime la lista en orden inverso al enviado.

In [ ]:
lista = [6,8,2,78,7]

lista.reverse()

print(lista)

[7, 78, 2, 8, 6]

5 - Crea un programa que, al ingresar un número cualquiera, genere una lista que contenga todos los números primos entre 1 y el número ingresado.

In [ ]:
lista = []

numero = int(input('Ingrese un numero: '))

for i in range(2, numero +1):
    conteo = 0
    for j in range(2, i + 1):
      if i % j == 0:
        conteo += 1
    if conteo < 2:
      lista.append(i)




print(lista)

Ingrese un numero: 8
[2, 3, 5, 7]

6 - Escribe un programa que pida una fecha, especificando el día, mes y año, y determine si es válida para su análisis.

In [ ]:
fecha = input('Ingrese una fecha en el formato dd/mm/aaaa: ')

dia, mes, año = fecha.split('/')

if int(dia) < 1 or int(dia) > 31:
  print('Dia invalido')
elif int(mes) < 1 or int(mes) > 12:
  print('Mes invalido')
elif int(año) < 1900 or int(año) > 2025:
  print('Año invalido')
else:
  print('Fecha valida')

Ingrese una fecha en el formato dd/mm/aaaa: 25/03/2025
Fecha valida

In [ ]:
# prompt: como harias esto en forma de listas : 6 - Escribe un programa que pida una fecha, especificando el día, mes y año, y determine si es válida para su análisis.

fecha = input('Ingrese una fecha en el formato dd/mm/aaaa: ')

dia, mes, año = fecha.split('/')

fecha_valida = True
errores = []

if not (1 <= int(dia) <= 31):
    fecha_valida = False
    errores.append('Dia invalido')

if not (1 <= int(mes) <= 12):
    fecha_valida = False
    errores.append('Mes invalido')

if not (1900 <= int(año) <= 2025):
    fecha_valida = False
    errores.append('Año invalido')

if fecha_valida:
    print('Fecha valida')
else:
    print('Fecha invalida:', ', '.join(errores))

Ingrese una fecha en el formato dd/mm/aaaa: 256/25/1365
Fecha invalida: Dia invalido, Mes invalido, Año invalido

Momento para los proyectos


7 - Para un estudio sobre la multiplicación de bacterias en una colonia, se recopiló el número de bacterias multiplicadas por día y se puede observar a continuación: [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]. Con estos valores, crea un código que genere una lista que contenga el porcentaje de crecimiento de bacterias por día, comparando el número de bacterias en cada día con el número de bacterias del día anterior. Sugerencia: para calcular el porcentaje de crecimiento, utiliza la siguiente ecuación: 100 * (muestra_actual - muestra_anterior) / muestra_anterior.

In [ ]:
crecimiento_bacterias = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]

porcentaje_crecimiento = []

for i in range(len(crecimiento_bacterias)):
  if i == 0:
    porcentaje = 0
  else:
    muestra_actual = crecimiento_bacterias[i]
    muestra_anterior = crecimiento_bacterias[i - 1]
    porcentaje = 100 * (muestra_actual - muestra_anterior) / muestra_anterior

    porcentaje_crecimiento.append(porcentaje)

print(porcentaje_crecimiento)

[75.00000000000001, 57.142857142857125, 51.51515151515153, 56.0, 44.87179487179489, 46.90265486725664, 51.20481927710843, 50.59760956175297, 50.52910052910054]

8 - Para una selección de productos alimenticios, debemos separar el conjunto de IDs proporcionados por números enteros, sabiendo que los productos con ID par son dulces y los que tienen ID impar son amargos. Crea un código que recoja 10 IDs. Luego, calcula y muestra la cantidad de productos dulces y amargos.

In [ ]:
productos = []
dulces = 0
amargos = 0

for i in range(10):
  id = int(input('Ingrese el ID del producto: '))
  productos.append(id)
  if id % 2 == 0:
    dulces += 1
  else:
    amargos += 1

print(f'La cantidad de productos dulces es: {dulces}')
print(f'La cantidad de productos amargos es: {amargos}')

Ingrese el ID del producto: 8
Ingrese el ID del producto: 7
Ingrese el ID del producto: 5
Ingrese el ID del producto: 4
Ingrese el ID del producto: 39
Ingrese el ID del producto: 56
Ingrese el ID del producto: 8
Ingrese el ID del producto: 14
Ingrese el ID del producto: 3
Ingrese el ID del producto: 1
La cantidad de productos dulces es: 5
La cantidad de productos amargos es: 5


9 - Desarrolla un programa que informe la puntuación de un estudiante de acuerdo con sus respuestas. Debe pedir la respuesta del estudiante para cada pregunta y verificar si la respuesta coincide con el resultado. Cada pregunta vale un punto y hay opciones A, B, C o D.

Resultado del examen:
01 - D
02 - A
03 - C
04 - B
05 - A
06 - D
07 - C
08 - C
09 - A
10 - B
Copia el código

In [ ]:
diccionario = {
    1 : 'D',
    2 : 'A',
    3 : 'C',
    4 : 'B',
    5 : 'A',
    6 : 'D',
    7 : 'C',
    8 : 'C',
    9 : 'A',
    10 : 'B'
}
puntaje = 0
for i in range(1, 11):
  respuesta = input(f'Ingrese la respuesta de la pregunta {i}: ')
  if respuesta == diccionario[i]:
    print('Respuesta correcta')
    puntaje += 1
  else:
    print('Respuesta incorrecta')

print(f'El puntaje del estudiante es: {puntaje}')

Ingrese la respuesta de la pregunta 1: D
Respuesta correcta
Ingrese la respuesta de la pregunta 2: A
Respuesta correcta
Ingrese la respuesta de la pregunta 3: B
Respuesta incorrecta
Ingrese la respuesta de la pregunta 4: C
Respuesta incorrecta
Ingrese la respuesta de la pregunta 5: C
Respuesta incorrecta
Ingrese la respuesta de la pregunta 6: A
Respuesta incorrecta
Ingrese la respuesta de la pregunta 7: A
Respuesta incorrecta
Ingrese la respuesta de la pregunta 8: A
Respuesta incorrecta
Ingrese la respuesta de la pregunta 9: A
Respuesta correcta
Ingrese la respuesta de la pregunta 10: C
Respuesta incorrecta
El puntaje del estudiante es: 3

10 - Un instituto de meteorología desea realizar un estudio de la temperatura media de cada mes del año. Para ello, debes crear un código que recoja y almacene esas temperaturas medias en una lista. Luego, calcula el promedio anual de las temperaturas y muestra todas las temperaturas por encima del promedio anual y en qué mes ocurrieron, mostrando los meses por su nombre (Enero, Febrero, etc.).

In [ ]:
temperaturas= []
meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
for i in range(1, 13):
  temperatura = float(input(f'Ingrese la temperatura media del mes {i}: '))
  temperaturas.append(temperatura)

for i in temperaturas:
  if i > sum(temperaturas) / len(temperaturas):
    print(f'La temperatura {i} fue mayor al promedio anual')
    mes = meses[temperaturas.index(i)]
    print(f'El mes en el que ocurrio fue {mes}')

Ingrese la temperatura media del mes 1: 14
Ingrese la temperatura media del mes 2: 34
Ingrese la temperatura media del mes 3: 25
Ingrese la temperatura media del mes 4: 22
Ingrese la temperatura media del mes 5: 21
Ingrese la temperatura media del mes 6: 24
Ingrese la temperatura media del mes 7: 33
Ingrese la temperatura media del mes 8: 22
Ingrese la temperatura media del mes 9: 18
Ingrese la temperatura media del mes 10: 17
Ingrese la temperatura media del mes 11: 15
Ingrese la temperatura media del mes 12: 12
La temperatura 34.0 fue mayor al promedio anual
El mes en el que ocurrio fue Febrero
La temperatura 25.0 fue mayor al promedio anual
El mes en el que ocurrio fue Marzo
La temperatura 22.0 fue mayor al promedio anual
El mes en el que ocurrio fue Abril
La temperatura 24.0 fue mayor al promedio anual
El mes en el que ocurrio fue Junio
La temperatura 33.0 fue mayor al promedio anual
El mes en el que ocurrio fue Julio
La temperatura 22.0 fue mayor al promedio anual
El mes en el que ocurrio fue Abril

11 - Una empresa de comercio electrónico está interesada en analizar las ventas de sus productos. Los datos de ventas se han almacenado en un diccionario:

{'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}
Copia el código
Escribe un código que calcule el total de ventas y el producto más vendido.

In [ ]:
dicionario = {
    'Producto_A': 300,
    'Producto_B': 80,
    'Producto_C': 60,
    'Producto_D': 200,
    'Producto_E': 250,
    'Producto_F': 30
}

for producto, ventas in dicionario.items():
  print(f'El producto {producto} tuvo {ventas} ventas')

total_ventas = sum(dicionario.values())
print(f'El total de ventas fue de {total_ventas}')
print(f'El producto mas vendido fue :{max(dicionario, key= dicionario.get)} con un valor de {max(dicionario.values())}')

El producto Producto_A tuvo 300 ventas
El producto Producto_B tuvo 80 ventas
El producto Producto_C tuvo 60 ventas
El producto Producto_D tuvo 200 ventas
El producto Producto_E tuvo 250 ventas
El producto Producto_F tuvo 30 ventas
El total de ventas fue de 920
El producto mas vendido fue :Producto_A con un valor de 300


12 - Se realizó una encuesta de mercado para decidir cuál diseño de marca infantil es más atractivo para los niños. Los votos de la encuesta se pueden ver a continuación:

Tabla de votos de la marca
Diseño 1 - 1334 votos
Diseño 2 - 982 votos
Diseño 3 - 1751 votos
Diseño 4 - 210 votos
Diseño 5 - 1811 votos
Copia el código
Adapta los datos proporcionados a una estructura de diccionario. A partir de ello, informa el diseño ganador y el porcentaje de votos recibidos.

In [ ]:
diccionario = {
    'Diseño_1': 1334,
    'Diseño_2': 982,
    'Diseño_3': 1751,
    'Diseño_4': 210,
    'Diseño_5': 181
}


ganador = max(diccionario, key = diccionario.get)
porentaje = diccionario[ganador] / (sum(diccionario.values())) * 100

print(f'El diseño ganador fue {ganador} con un porcentaje de {porentaje}%')

El diseño ganador fue Diseño_3 con un porcentaje de 39.27770300583221%

13 - Los empleados de un departamento de tu empresa recibirán una bonificación del 10% de su salario debido a un excelente rendimiento del equipo. El departamento de finanzas ha solicitado tu ayuda para verificar las consecuencias financieras de esta bonificación en los recursos. Se te ha enviado una lista con los salarios que recibirán la bonificación: [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]. La bonificación de cada empleado no puede ser inferior a 200. En el código, convierte cada uno de los salarios en claves de un diccionario y la bonificación de cada salario en el valor correspondiente. Luego, informa el gasto total en bonificaciones, cuántos empleados recibieron la bonificación mínima y cuál fue el valor más alto de la bonificación proporcionada.

In [ ]:
lista_salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]

bonificaciones = {}
total_bonifiacion = []
boni_minima = 0


for salario in lista_salarios:
  bonificacion = salario * 0.1
  if (bonificacion) < 200:
    bonificaciones[salario] = 200
    boni_minima += 1
    total_bonifiacion.append(200)
  else:
    bonificaciones[salario] = salario * 0.1
    total_bonifiacion.append(salario * 0.1)

print(f'El gasto total de bonificaicones es:{sum(total_bonifiacion)}, numero de empleados con bn_min: {boni_minima} y el valor mas alto de boni fue: {max(total_bonifiacion)} ')

El gasto total de bonificaicones es:6087.8, numero de empleados con bn_min: 2 y el valor mas alto de boni fue: 790.3000000000001

14 - Un equipo de científicos de datos está estudiando la diversidad biológica en un bosque. El equipo recopiló información sobre el número de especies de plantas y animales en cada área del bosque y almacenó estos datos en un diccionario. En él, la clave describe el área de los datos y los valores en las listas corresponden a las especies de plantas y animales en esas áreas, respectivamente.

{'Área Norte': [2819, 7236], 'Área Leste': [1440, 9492], 'Área Sul': [5969, 7496], 'Área Oeste': [14446, 49688], 'Área Centro': [22558, 45148]}
Copia el código
Escribe un código para calcular el promedio de especies por área e identificar el área con la mayor diversidad biológica. Sugerencia: utiliza las funciones incorporadas sum() y len().

In [ ]:
descripcion = {
    'Área_Norte': [2819, 7236],
    'Área_Leste': [1440, 9492],
    'Área_Sul': [5969, 7496],
    'Área_Oeste': [14446, 49688],
    'Área_Centro': [22558, 45148]
}

for area, especies in descripcion.items():
  print(f'El area {area} tiene {sum(especies) / len(especies)} especies por area')

mayor_diversidad = max(descripcion, key = descripcion.get)
print(f'El area con mayor diversidad es: {mayor_diversidad}')

El area Área_Norte tiene 5027.5 especies por area
El area Área_Leste tiene 5466.0 especies por area
El area Área_Sul tiene 6732.5 especies por area
El area Área_Oeste tiene 32067.0 especies por area
El area Área_Centro tiene 33853.0 especies por area
El area con mayor diversidad es: Área_Centro

15 - El departamento de Recursos Humanos de tu empresa te pidió ayuda para analizar las edades de los colaboradores de 4 sectores de la empresa. Para ello, te proporcionaron los siguientes datos:

{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
Copia el código
Dado que cada sector tiene 10 colaboradores, construye un código que calcule la media de edad de cada sector, la edad media general entre todos los sectores y cuántas personas están por encima de la edad medi
a general.

In [ ]:
sectores = {
    'Setor_A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
    'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
    'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
    'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]
    }

persona_mayor = 0
media_general = sum([sum(edades) for edades in sectores.values()]) / sum([len(edades) for edades in sectores.values()])
for sector, edades in sectores.items():
  media_sector = sum(edades) / len(edades)
  print(f'El sector {sector} tiene una media de edad de {media_sector}')
  for edad in edades:
    if edad > media_general:
      persona_mayor += 1
      print(f'La edad {edad} es mayor a la media general')

print(f'La edad media general es de {media_general} y hay {persona_mayor} persona(s) que estan encima de la media')

El sector Setor_A tiene una media de edad de 39.9
La edad 40 es mayor a la media general
La edad 56 es mayor a la media general
La edad 57 es mayor a la media general
La edad 65 es mayor a la media general
El sector Setor B tiene una media de edad de 42.3
La edad 41 es mayor a la media general
La edad 49 es mayor a la media general
La edad 50 es mayor a la media general
La edad 54 es mayor a la media general
La edad 60 es mayor a la media general
La edad 64 es mayor a la media general
El sector Setor C tiene una media de edad de 35.8
La edad 41 es mayor a la media general
La edad 52 es mayor a la media general
La edad 56 es mayor a la media general
El sector Setor D tiene una media de edad de 36.5
La edad 39 es mayor a la media general
La edad 42 es mayor a la media general
La edad 44 es mayor a la media general
La edad 50 es mayor a la media general
La edad 65 es mayor a la media general
La edad media general es de 38.625 y hay 18 persona(s) que estan encima de la media